{% extends "core/base.html" %}
{% load static %}

{% block title %}Contraseña Restablecida{% endblock %}

{% block content %}
<div class="auth-container">
    <div class="card auth-card">
        <div class="auth-card-header">
            <img src="{% static 'core/img/la-playita-logo.png' %}" alt="La Playita Logo" class="auth-logo">
            <h2>¡Todo Listo!</h2>
        </div>
        <div class="card-body auth-card-body text-center">
            <p class="card-text">Tu contraseña ha sido restablecida exitosamente.</p>
            <div class="d-grid gap-2 mt-4">
                <a href="{% url 'login' %}" class="btn btn-primary">Iniciar Sesión</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}