{% extends "core/base.html" %}
{% load static %}

{% block title %}Contraseña Cambiada{% endblock %}

{% block content %}
<div class="auth-container">
    <div class="card auth-card">
        <div class="auth-card-header">
            <img src="{% static 'core/img/la-playita-logo.png' %}" alt="La Playita Logo" class="auth-logo">
            <h2>Contraseña Cambiada con Éxito</h2>
        </div>
        <div class="card-body auth-card-body">
            <div class="alert alert-success" role="alert">
                Tu contraseña ha sido cambiada exitosamente. Ahora puedes iniciar sesión con tu nueva contraseña.
            </div>
            <div class="d-grid gap-2 mt-4">
                <a href="{% url 'users:login' %}" class="btn btn-primary">Ir a Iniciar Sesión</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}