<div class="modal fade" id="createLoteModal" tabindex="-1" aria-labelledby="createLoteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="{% url 'inventory:lote_create' producto_pk=producto.pk %}" method="post">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="createLoteModalLabel">Registrar Nuevo Lote para {{ producto.nombre }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% include 'inventory/includes/_lote_form_fields.html' with form=form %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Guardar Lote</button>
                </div>
            </form>
        </div>
    </div>
</div>