<div class="mb-3">
    <label for="id_numero_lote" class="form-label">{{ lote_form.numero_lote.label }}</label>
    {{ lote_form.numero_lote }}
</div>
<div class="mb-3">
    <label for="id_cantidad_disponible" class="form-label">{{ lote_form.cantidad_disponible.label }}</label>
    {{ lote_form.cantidad_disponible }}
</div>
<div class="mb-3">
    <label for="id_costo_unitario_lote" class="form-label">{{ lote_form.costo_unitario_lote.label }}</label>
    {{ lote_form.costo_unitario_lote }}
</div>
<div class="mb-3">
    <label for="id_fecha_caducidad" class="form-label">{{ lote_form.fecha_caducidad.label }}</label>
    {{ lote_form.fecha_caducidad }}
</div>
